
            body{
                background-image: linear-gradient(to right,#FFFDE4,#005AA7);
                font-family: arial;
                color:black;
                text-align: center;
                
               
                
                
            }
            h1{
                text-align: center;
                color:black; 
            
            
            }
            #contenedor{
                position: relative;
                float: center;
                margin: 0px;
                padding: 0px;
                background-image: url(https://www.paredesoriginales.com/338-thickbox_default/vinilo-carrete-de-cine.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 300px;
                border: 3px solid black;
                
            }
            h2{
                color:black;
                font-family: arial;
                text-align: left;
                display: inline;
                background-color:#B2FEFA;
                border: solid;
                border-color: black;
                border-radius: 15px;
                padding: 1px;
                
                
                
              

                
                
            
            }
            dt{
                font-family: arial black;
                color:black;
           
            
            }
             nav a{
                text-decoration:none;
                color:inherit;
                font-size:14px;
                text-align: center;
                
                }
                      
          nav li{
                display:inline-block;
                width:150px;
                height:30px;
                padding:5px 10px;
                background-color:#000;
                border:1px solid #000;
                text-align:center;
                color:#fff;
                position:relative;
                
          }
                      
          nav li:hover{
                background-color:#fff;
                color:#000;
                transition: all 0.5s;
                }
                      
          nav li>ul{
                display:none;
                }
          
          nav li:hover>ul{
                display:block;
                position:absolute;
                top:30px;
                left:0px;
          }
          .imgsections{
              width:15%;
              height:15%;
              transition:all 0.5s ease;
              border: 2px solid black;

              
          }
          .imgsections:hover{
              transform: scale(0.9);
          }
          .imgyt{
              width: 5%;
              height: 5%;
              transition: all 0.5s ease;
          }
          .imgyt:hover{
              transform: scale(1.2);
          }
          .article{
              text-align: center;
          }
         
          #footer{
              text-align:left;
              
              margin: 0px;
              
              width: 100%;
              
          }
          .inicio{
              width: 2%;
              height: 2%;
              transition: all 05.s ease;
          }
          .inicio:hover{
              transform: scale(1.3);
          }
          #aside{
              float: center;
              text-align: center;
              
              border: 3px solid black;
              padding: 10px;
              margin-top: 10px;
          }
          #imgaside{
              float: left;
              width: 20%;
              height: 20%;
              transition: all,0.5s,ease;
          }
          #imgaside:hover{
              transform: scale(0.9);
          }
          #imgaside2{
              float: right;
              width: 20%;
              height: 20%;
              transition: all 0.5s,ease;

          }
          #imgaside2:hover{
              transform: scale(0.9);
          }
          #imgaside3{
              float:center;
              width: 20%;
              height: 20%;
              transition: all,0.5s,ease;
          }
          #imgaside3:hover{
              transform: scale(0.9);
          }
          .enlaceaside{
              text-decoration: none;
              border: 2px solid black;
              border-radius: 10px;
              margin: 0px;
              padding: 0px;
              font-family: arial black;
              background-color:#B2FEFA; 
              color: black;
          }
          #imgfooter{
              width: 4%;
              height: 4%;
              float: left;
          }
          #footer{
              text-align: left;
          }
          #header{
              font-family: arial black;
              border:3px solid;
              background-color: white;
              display: inline;
          }
         
          
            
            
           
        


                
                
         
           
            
            
        
            
            
          

    
              

         

           
        