body {
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
}

#img {
    width: 30%;
    height: 30%;
    border-radius: 50px;
}

.procesosColor {
    color: lightseagreen;
    
}

#btnProcesos {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
}
#btnNuevaSimulacion{
    width: 8%;
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    
    
}

#btnGrafica {
    margin-bottom: 2%;
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

#btnEnviar {
    
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

#divImg {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-decoration: none;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    justify-content: center;
    height: 50px;
    margin-bottom: 150px;
}

.elemento {
    list-style-type: none;
    font-size: x-large;
}

p {
    text-align: center;
    margin-bottom: 0%;
}

.elemento:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

#info {
    margin-bottom: 0px;
    text-align: center;
}

#btnProcesos {
    height: auto;
    width: 12%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3%;
}

#btnGrafica {
    height: auto;
    width: 12%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
}

#cargapProcesos {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tabla {
    margin-top: 5%;
    border: solid 1px;
    border-color: lightseagreen;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#tabla2 {
    margin-top: 3%;
    border: solid 1px;
    border-color: lightseagreen;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.ths {
    text-align: center;
    width: 10%;
    height: 20%;
    padding: 1%;
    border: solid 1px;
    border-color: lightseagreen;
}

#procesosCreados {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
}

#btnEnviar {
    margin-top: 30%;
    height: auto;
}

td {
    border: solid 1px;
    border-color: lightseagreen;
}

#grafica {
    width: 100%;
    height: 100%;
}

#pintaGrafica {
    margin-top: 5%;
    margin-left: 20%;
    width: 50%;
    height: 100%;
    display: none;
}

#grafic1-3, #grafic2-4 {
    display: flex;
    flex-direction: row;
}

#grafic2 {
    display: flex;
    flex-direction: row;
}

h6, .prueba {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
    text-align: center;
}

#prueba1 {
    display: flex;
    flex-direction: row;
    width: auto;
}

#prueba2 {
    display: flex;
    flex-direction: row;
    width: auto;
}

#prueba3 {
    display: flex;
    flex-direction: row;
    width: auto;
}

.casilla {
    background-color: lightseagreen;
    border: solid 1px black;
    width: 35px;
    height: 35px;
}

.casilla2 {
    border: solid 1px black;
    width: 35px;
    height: 35px;
}

#grafic4 {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.TE-TL {
    width: auto;
    height: auto;
}