*{
  box-sizing: border-box;
  padding: 0;
  display: run-in;

}


html{
  font-family: Inconsolata;
  background-color: #333;
}

body{

  background-color: #333;
  font-family: 'Inconsolata';


}
.logo{
  display: flex;
  justify-content:center;
  align-items:flex-end;

  
  background-image: url(https://www.daratel.com/wp-content/uploads/2015/04/cabecera-telecomunicaciones.jpg);
  
  
  
  
}
.enigma{
  display: flex;
  
  font-size: 500%;
  color:transparent;
  

}
.navinicial{
  
  float: center;
  font-family: 'Goldman', cursive;
}
nav ul{
  list-style: none; 
  padding: 0;
  float: inherit;
  margin-left: auto;
  margin-right: auto;
  
}

nav li{
  line-height: 3rem;
  position: relative;

}

nav li ul {
  position: absolute;
  display: none;

}
nav li:hover ul{
  display: block;
  text-decoration-color: greenyellow;

}
nav a {
  color: white;
  display: block;
  padding: 0 2.5em;
  text-decoration: none;
  transition: .4s;

}
nav a:hover{
  background: rgba(0,0,0,.5);
  text-decoration-color: greenyellow;
}



nav > ul {
  background: #222;
  display: table;

}

nav > ul >li {
  float: left;

}


nav li li {
  background: #111111;
  transition: all 4s;

}


div h1{

  color: greenyellow;
}


div p{

  color: white;

}

.presentacion{

  display: flex;
  justify-content:center;
  color: white;
  font-size: 0.7cm;
  float: center;
 

}






.flip-box {
  background-color: transparent;
  width: 40.2vw;
  height: 50.2vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

  
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);

}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-box-front {
  background-color: #bbb;
  color: black;

}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);

}




img{

  width: 40vw;
  height: 50vh;



}


.enlace{

  
  font-family: 'Inconsolata';
  font-size: 1cm;
 

}

.container{

  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 5vh;
  border: 5px transparent red;
}

.caja1{

  padding: 3vh;

}

.caja2{

  padding: 3vh;

}

.caja3{

  padding: 3vh;

}

.caja4{

  padding: 3vh;

}
