html{
margin: 0;
padding: 0;
background-color: black;
}
.enigma1{
    display: flex;
    font-family: 'Goldman', cursive;
}
.texto_cabeceral{
    font-family: 'Goldman', cursive;
   
}
.parrafo_dc{
    margin-bottom: 70px;
}
.sections{
    font-family: 'Goldman', cursive;
    margin-top: 60px;
    margin-bottom: 60px;
    background-size: 20px;
    font-size:25px ;
    
    
}

    
#div_principal{
    
    background-repeat: no-repeat;
    color: white;
    
}
#container_nav{
    display: flex;
    justify-content: end;
    align-self: inherit;
    font-family: 'Goldman', cursive;
}
#menu{
    font-family: 'Goldman', cursive;
}
#enigma{
    display: flex;
    justify-content: flex-end;
    font-size: 250%;
    color:black;
    margin-right: 400px;
    
    
    /*Estilos dl navegador horizontal*/

}
nav ul{
    list-style: none; 
    padding: 0;
    float: inherit;
    margin-left: auto;
    margin-right: auto;
    
}

nav li{
    line-height: 3rem;
    position: relative;

}

nav li ul {
    position: absolute;
    display: none;

}
nav li:hover ul{
    display: block;
    text-decoration-color: greenyellow;

}
nav a {
    color: white;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .4s;

}
nav a:hover{
    background: rgba(0,0,0,.5);
    text-decoration-color: greenyellow;
}



nav > ul {
    background: #333;
    display: table;

}

nav > ul >li {
    float: left;

}


nav li li {
    background: #222;
    transition: all 4s;

/*Inicio menu vertical*/

}
#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float: none; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    left: 100%; 
}
 
#menu ul li {
    float: none; 
}
 
#menu {
    width: 255px; 
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: 'Goldman', cursive;
    font-size: 12px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #333;
}
#menu li:hover {
    background: #666666; 
}
#menu a {
    color: white;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 253px; 
}
#menu ul ul li {
    background:#333; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #666666; 
}
#menu .has-sub {
    position: relative; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}
 
#menu .fa-angle-right {
    float: right;
}
/*Inicio de la estructura general*/
.principal{
    font-family: 'Inconsolata', monospace;
}

.img_principal{
    width: 100%;
    height:100px;
   
    
}
.div_section{
    
    width: 150px;
    height: 150px;

}
.teclados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    
    
   
    
}
.sections{
    text-align: center;
    

}
.img_principal:hover{
transform: scale(2.0);
transition: all 1s ease;
opacity: 0.7;
}
.cabecera2{
    text-align: center;
}
.separador{
    width: 100%;
    height: 500px;
    
}

/*Inicio del footer*/

.separador{
    height: 500px;
}
footer{
    width: 100%;
    background: #202020;
    color: white;   
    font-family: 'Secular One', sans-serif;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

